@charset "UTF-8";

.l_container {
  position: relative;
  width: 30%;
  height: 0;
  display: inline-block;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  margin: 10px;
  overflow: hidden;
  padding-bottom: 40%;
}
.l_font{
	font-size: 25px
}
.l_nemo{
	margin: 5px;
}
.l_image {
  display: block;
  width: 100%;
  height: auto;
}

.l_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #909090;
}

.l_container:hover .l_overlay {
  opacity: 1;
}

.l_text {
  width: 95%;
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
}

/* Style the buttons */
.l_btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.l_btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.l_btn.active {
  background-color: #666;
   color: white;
}
