
.h_subhead {
	margin: 0px 10px 15px 7px;
	font-size: 25px;
}


#h_BtnContainer {
	margin: 10px;
}


.h_btn {
	margin: 0px;
	padding: 7px;
	border-radius: 3px;
	background-color: white;
  	border: #f54c26 solid 2px;
 	color: black;
  	font-weight: bold;
  	cursor: pointer;
}


.h_btn:hover{
	background-color: #FD5F13;
    color: white;
    opacity: 0.8;
}

.h_btn.active{
	background-color: #FD5F13;
    color: white;
    opacity: 1;
}


.h_contbox {
	display: flex;
	flex-wrap: wrap;
}


.h_row {
  flex: none%;
  flex-basis: 34px; 
  margin: 10px;
  position: relative;
  display: inline-block;
  border: 2.5px solid #bfbfbf;
}


.h_contBold {
  font-size: 1em;
  font-weight: 580;
  margin-left: 2em;
  text-indent: -2em;	
  word-break: keep-all;	
} 


.h_content {
  width: 290px;
  background-color: white;
  padding: 15px 15px 0px 15px;
}


/* *togeNo */
.h_contNo {
  font-size: 1em;
  font-weight: 600;
}


.h_pp {
  padding:5px;
  width: 100%;
  height: 100px;
  font-size: 1em;
  font-weight: 400;
}


/* ing 진행율 */
#h_Progress {
  width: 260px;
  heidght: 100%;
  background-color: #f9e2c6;
  /* background-color: #ddd; */
  margin: 10px 15px;
}


/* ing 진행율 바 */
#h_Bar {
  height: 100%;
  background-color: #f54c26;
  /* background-color: #4CAF50; */
  color: white;
  font-size: 13px;
  padding: 3px 20px;
  vertical-align: middle;
}


.h_thumPath {
  width: 260px;
  height: 200px;
}


#h_viewIngAjax {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1px 5px;
  margin: 7px 60px 0px ;
  text-align: center;
  cursor: pointer;
}

#h_viewIngAjax:hover {
  background: white;
  color: black;
}

#h_viewAjaxC {
  display: none;
/*    position: absolute; 
position: relative;
  top: 10%;
  left: 40%; */
  z-index: 2;
  width: 350px;
  height: 350px;
  padding: 0px;
  border: 2px dashed white;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  overflow: auto;
}

#h_ingAjaxClose:hover {
  color: white;
}

#h_ingAjaxClose {
  position: relative;
  z-index: 2;
  top: 4px;
  right: 2px;
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 7px;
  float: right;
  color: #005680;
  text-decoration: none;
}

#h_ingAjax {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#h_ingBox table{
	width: 90%;
	margin: auto;
	padding: 5px 10px;
	border: 1px solid white;
	border-collapse: collapse;
}

#h_ingBox th, #h_ingBox td{
	border: 1px solid white;
}

